
<div class="card">
  <div class="card-header">
    <div class="input-group mt-3 mb-3" widht="80%">
      <div class="input-group-prepend">
        <div class="input-group-text">ID of the pokemon</div>
      </div>
      <input type="text" class="form-control" value="{{selectedPokeId}}" readonly>
    </div>

    <div class="input-group mt-3 mb-3" widht="80%">
      <div class="input-group-prepend">
        <div class="input-group-text">Pokemon search</div>
      </div>
      <input class="form-control" [(ngModel)]="searchPokeName">
    </div>

    <div class="input-group mt-3 mb-3" widht="80%">
      <div class="input-group-prepend">
        <div class="input-group-text">Search result </div>
      </div>
      <select class="form-control" [(ngModel)]="selectedPokeId">
        <option [value]="poke.id"
                *ngFor="let poke of pokes| filterPokemonPipe:'name':searchPokeName" >{{poke.name}}
      </select>
    </div>



  </div>

  <div class="card-body text-center">
    <button class="btn btn-dark" (click)="go()">Show abilities</button>
  </div>

  <div class="card-footer">
    <app-pokedetail [detail]="pokeDetail"></app-pokedetail>
  </div>

</div>
