<BR>
<input class="form-control" readonly [(ngModel)]="id">

<br>

<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text">ID</div>
  </div>
  <input type="text" class="form-control" value="{{id}}" readonly>
</div>
<br>
<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text">Pokémon</div>
  </div>
  <input type="text" class="form-control" value="{{selectedPokeId}}" readonly>
</div>

<br>
<input class="form-control" [(ngModel)]="searchPokeName">
<br>

<select class="form-control" [(ngModel)]="selectedPokeId">
  <option [value]="poke.id"
          *ngFor="let poke of pokes| filterPokemonPipe:'name':searchPokeName" >{{poke.name}}
</select>
<br>
<button class="btn btn-light" (click)="go()">Valider</button>
<br>
<div >
  <app-pokedetail [detail]="pokeDetail"></app-pokedetail>
</div>

